@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./Components/Assets/Background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  /* background-color: black; */
}
/* #34ebba */